#staffTree {
  height: 80vh;
  width: 100%;
  overflow: auto;
  margin: 1% 0;
}

.jstree-anchor {
  min-height: 55px;
  width: 580px;
  overflow-x: scroll;
  border-radius: 35px !important;
  background-color: #d4ffda;
  border: 1px solid #afa9a9;
  margin-bottom: 5px;
}

.jstree-node {
  min-height: 60px !important;
  margin-left: 40px !important;
}

.jstree-anchor i {
  background-size: cover !important;
  margin: 1px 2% 0 0 !important;
  border-radius: 50%;
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  float: left;
  max-height: 50px;
}

.jstree-ocl {
  margin-top: 15px !important;
}

.app-badge-name,
.app-badge-posit,
.app-badge-date,
.app-badge-salary {
  border-radius: 10px;
  border: 1px solid white;
  padding: 1px 3px;
  background-color: white;
  margin: 0.5%;
}

.app-right {
  height: 100%;
  width: 580px;
  padding-top: 3px;
}

